   .rating-by-cus {
    width: 40% !important;
    }
    .ratings i {
    color: #cecece;
    font-size: 32px;
    }

    .rating-color {
    color: #fbc634 !important;
    }
    .opa {
    opacity: 0.6 !important;
    }
    .choose-main {
    width: 75%;
    }
    .range-picker {
    font-size: 16px;
    font-size:1rem;
    display:-ms-flexbox;
    display:flex;
    margin-top:5px;
    align-items:center;
    line-height:.9em;
}
.range-picker div {
    display:flex;
    border-right:1px solid #bbb;
    border-top:1px solid #bbb;
    border-bottom:1px solid #bbb;
    align-items:center;
    color:#bbb;
    width:30px;
    box-sizing:border-box;
    cursor:pointer;
    justify-content:center;
    height:30px;
}
.highlight-window.mobile {
    display:none;
}
.range-picker .active:hover {
    background:#fff;
}
.range-picker .active {
    background:#fff;
    margin-right:3px;
    margin-left:2px;
    color:#333;
    border:1px solid #666;
    z-index:1;
}
.check {
    position:absolute;
    right:0px;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    background:transparent;
    width:0px;
    bottom:-3px;
    border-left:10px solid transparent;
    border-bottom:10px solid #ccc;
    border-right:10px solid transparent;
    height:0px;
}
.range-picker div:hover {
    background:#eee;
}
.range-picker div:first-child {
    border-left:1px solid #bbb;
}
.range-picker div.active:first-child {
    border-left:1px solid #333;
}
input:focus{
    outline: unset;
}
.nav-bar ul li a{
    text-decoration: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}
.nav-bar ul li a:hover{
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid black;
}

  
  .small-img {
    width: 350px;
    height: 70px;
    margin-top: 10px;
    position: relative;
    left: -15px;
  }
  
  .small-img .icon-left, .small-img .icon-right {
    width: 12px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  
  .small-img .icon-left { transform: rotate(180deg) }
  
  .small-img .icon-right { right: 0; }
  
  .small-img .icon-left:hover, .small-img .icon-right:hover { opacity: .5; }
  
  .small-container {
    width: 310px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .small-container div {
    width: 800%;
    position: relative;
  }
  
.small-container .show-small-img {
    width: 70px;
    height: 70px;
    margin-right: 6px;
    cursor: pointer;
    float: left;
}
  
.small-container .show-small-img:last-of-type { margin-right: 0; }